GPUtil
scikit-learn
flask
celery
requests
pyelftools
loguru
psutil
tensorflow
joblib
numpy
cryptography
torch
torchvision
torchaudio
pynvml
readerwriterlock
azure-identity
azure-mgmt-resource
azure-loganalytics
azure-mgmt-security
azure-mgmt-network
azure-monitor-query
azure-mgmt-resourcegraph
azure-mgmt-machinelearningservices
azure-mgmt-trafficanalytics



# Testing dependencies
pytest
pytest-cov
mock
pytest-mock
requests-mock
