GPUtil
scikit-learn
flask
celery
requests
pyelftools
loguru
psutil
tensorflow
joblib
numpy
cryptography
torch torchvision torchaudio
pynvml
readerwriterlock
azure-identity
azure-mgmt-resource
azure-mgmt-monitor
azure-sentinel
azure-loganalytics
azure-mgmt-security
azure-mgmt-network
azure-mgmt-trafficanalytics
azure-resourcegraph

# Testing dependencies
pytest
pytest-cov
mock
pytest-mock
requests-mock
