retrying
GPUtil
scikit-learn
flask
celery
requests
pyelftools
loguru
psutil
tensorflow
joblib
numpy
cryptography
torch
torchvision
torchaudio
pynvml==11.4.1
readerwriterlock
openai
azure-identity
azure-mgmt-resource
azure-mgmt-resourcegraph
azure-mgmt-network
azure-mgmt-security
azure-loganalytics
azure-mgmt-loganalytics
azure-monitor-query 
azure-mgmt-machinelearningservices
azure-ai-ml
azure-ai-anomalydetector
openai
azure-securityinsight
azure-keyvault-secrets
azure-keyvault-keys
