retrying
GPUtil
scikit-learn
flask
celery
requests
pyelftools
loguru
psutil
tensorflow
joblib
numpy
cryptography
torch
torchvision
torchaudio
pynvml
readerwriterlock
azure-identity
azure-monitor-query==1.0.0
azure-mgmt-security
azure-mgmt-resource
azure-loganalytics
azure-mgmt-network
azure-mgmt-resourcegraph
azure-mgmt-machinelearningservices --pre
azure-ai-anomalydetector
openai
