retrying
GPUtil
scikit-learn
flask
celery
requests
pyelftools
loguru
psutil
tensorflow
joblib
numpy
cryptography
torch
torchvision
torchaudio
pynvml==11.4.1
readerwriterlock
azure-identity
azure-monitor-query
azure-mgmt-security
azure-mgmt-resource
azure-loganalytics
azure-mgmt-loganalytics
azure-mgmt-network
azure-mgmt-resourcegraph
azure-mgmt-machinelearningservices --pre
azure-ai-anomalydetector
openai

